[package]
name = "storage"
publish = false
version.workspace = true
edition.workspace = true
license.workspace = true
readme.workspace = true
documentation.workspace = true
homepage.workspace = true
repository.workspace = true

[lib]
doctest = false

[dependencies]
uuid = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }
sqlx = { workspace = true }